.row {
  margin-left: 20px;
  color: white;
}

.row__posters {
  display: flex; /* ምስሎቹን በጎን በኩል እንዲሰለፉ ያደርጋል */
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 20px;
}

/* ስክሮል ባሩ እንዳይታይ */
.row__posters::-webkit-scrollbar {
  display: none;
}

.row__poster {
  object-fit: contain;
  width: 100%;
  max-height: 100px; /* ትናንሽ ምስሎች */
  margin-right: 10px;
  transition: transform 450ms;
}

.row__poster:hover {
  transform: scale(1.08);
}

/* ለትልልቆቹ (Netflix Originals) ምስሎች */
.row__posterLarge {
  max-height: 250px;
}

.row__posterLarge:hover {
  transform: scale(1.09);
}
@media (max-width: 768px) {
  .row__poster {
    max-height: 150px; /* በስልክ ላይ ትንሽ እንዲያጥሩ */
  }
  
  .row__posterLarge {
    max-height: 200px; /* ትልልቆቹ ፖስተሮች በስልክ ላይ የሚኖራቸው መጠን */
  }

  .Banner__description {
    font-size: 0.8rem; /* በስልክ ላይ ጽሁፉ እንዳይጨናነቅ */
    width: 80%;
  }
}