.row {
  margin-left: 20px;
  color: white;
}

.row__posters {
  display: flex; /* ምስሎቹን በጎን በኩል እንዲሰለፉ ያደርጋል */
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 20px;
}

/* ስክሮል ባሩ እንዳይታይ */
.row__posters::-webkit-scrollbar {
  display: none;
}

.row__poster {
  object-fit: contain;
  width: 180px;
  max-height: 100px; /* ትናንሽ ምስሎች */
  margin-right: 10px;
  transition: transform 450ms;
}
@media (max-width: 768px) {
  .row__poster {
    max-height: 100px;
  }

  .row__posterLarge {
    max-height: 250px;
  }

  .row {
    margin-left: 10px;
  }
}

.row__poster:hover {
  transform: scale(1.08);
  box-shadow: 0 0 20px rgb(255,255, 255,0.4);
}

/* ለትልልቆቹ (Netflix Originals) ምስሎች */
.row__posterLarge {
  max-height: 250px;
}

.row__posterLarge:hover {
  transform: scale(1.09);
}
  
  .row__posterLarge {
    max-height: 200px; /* ትልልቆቹ ፖስተሮች በስልክ ላይ የሚኖራቸው መጠን */
  }

  .Banner__description {
    font-size: 0.8rem; /* በስልክ ላይ ጽሁፉ እንዳይጨናነቅ */
    width: 80%;
  }
.signin__btn {
  background-color: #e50914;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-weight: 600;
  border-radius: 3px;
}
.signin__btn:hover {
  opacity: 0.9;
}
